/* You can add global styles to this file, and also import other style files */
.panel-primary {
  border-color: #ADC90A !important;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #ADC90A !important;
  border-color: #ADC90A !important;
}

.btn-primary {
  background-color: #ADC90A !important;
  border-color: #ADC90A !important;
}
